<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Category name</th>
            <th>Category Description</th>
            <th>Delete category</th>
        </tr>
        {% for category in category_vo_list %}
            <tr>
                <td>{{ category.category_name }}</td>
                <td>{{ category.category_description }}</td>
                <td>
                    <a href="/admin/delete_category?categoryId={{ category.category_id }}">Delete</a>
                    <a href="/admin/edit_category?categoryId={{ category.category_id }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Back to home page</a>

</body>
</html>